<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <form action="/result" method="POST">
            <h2>Your Name:<input class="fields" type="text" name="name"></h2>
            <h2>Dojo Location:
                <select class="drop" name="location">
                    <option value="Berkley">Berkley</option>
                    <option value="LA">LA</option>
                    <option value="Sam Jose">San Jose</option>
                </select>
            </h2>
            <h2>Favorite Language:
                <select class="drop" name="language">
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                    <option value="C++">C++</option>
                </select>
            <h2>Comment (optional):</h2>
            <h2><input id="rect" type="textarea" name="comment"></h2>
            <h2><input id="btn" type="submit" value="Submit"></h2>
        </form>
    </div>
</body>
</html>