<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <p>name: <%= name %> </p>
    <p>dojo location: <%= location %></p>
    <p> favorite language: <%= language %></p>
    <p>comment: <%= comment %></p>
</body>
</html>